name: cd

on:
  workflow_run:
    workflows: ["ci"]
    types: [completed]
  pull_request: 
    types: [labeled, unlabeled]
jobs:
  on-success:
    runs-on: ubuntu-latest
    if: ${{ ( github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.event == 'pull_request' ) || github.event.label.name == 'duplicate' }} 
    steps:
      - name: build and shit
        run: |
          echo ${{ github.ref }}
          echo ${{ github.sha }}
          echo ${{ github.event_name }}
          echo ${{ github.event.workflow_run.event }}
      - name: pr shit
        if:  ${{ github.event.workflow_run.event == 'pull_request' }} 
        run: |
          echo ${{ github.event.workflow_run.pull_requests }}
          echo ${{ github.event.workflow_run.pull_requests[0] }}
          echo ${{ github.event.workflow_run.pull_requests[0].number }}
          echo ${{ github.event.label.name }}
           echo ${{ github.event.workflow_run.pull_requests[0].label.name }}
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJSON(github) }}
        run: echo "$GITHUB_CONTEXT"
      - name: Dump job context
        env:
          JOB_CONTEXT: ${{ toJSON(job) }}
        run: echo "$JOB_CONTEXT"
      - name: Dump steps context
        env:
          STEPS_CONTEXT: ${{ toJSON(steps) }}
        run: echo "$STEPS_CONTEXT"
      - name: Dump runner context
        env:
          RUNNER_CONTEXT: ${{ toJSON(runner) }}
        run: echo "$RUNNER_CONTEXT"
      - name: Dump strategy context
        env:
          STRATEGY_CONTEXT: ${{ toJSON(strategy) }}
        run: echo "$STRATEGY_CONTEXT"
      - name: Dump matrix context
        env:
          MATRIX_CONTEXT: ${{ toJSON(matrix) }}
        run: echo "$MATRIX_CONTEXT"
